$texts: #ffffff;
$dark: #000000;
$title-upper: #d7d8d8;

@mixin sectionTitle($font-size, $font-color) {
  font-size: $font-size;
  position: relative;
  color: $font-color;
}

@mixin horizontalSection($bg-img, $bg-pos) {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image: url('./../img/' + $bg-img + '.jpg');
    background-position: $bg-pos;
}
