// Font
$mainFont: 'Lato', sans-serif;

// Colors
$texts: #ffffff;
$dark: #000000;
$title-upper: #d7d8d8;


// Mixins

@mixin sectionStyle($bgImg, $bgPos) {
  width: 100vw;
  height: 100vh;
  background-image: url('./../img/' + $bgImg + '.jpg');
  background-position: $bgPos;
  background-size: cover;
  position: relative;
}

@mixin sectionFilter($filterColor) {
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  background-color: $filterColor;
  pointer-events: none;
}

@mixin sectionTitle($font-size, $font-color) {
  font-size: $font-size;
  position: relative;
  color: $font-color;
  font-family: $mainFont;
  font-weight: 300;
}

@mixin sectionText($font-size, $font-color) {
  font-size: $font-size;
  color: $font-color;
  font-family: $mainFont;
  font-weight: 300;
}
