.discover {
  @include sectionStyle('paradise', 75%);
  &::before{
    @include sectionFilter();
    background-color:rgba(90,90,90,0.3);
  }
  .paradise {
    @include sectionContent();
    &__title {
      margin-top: 60px;
      @include sectionTitle($title-upper);
      text-transform: uppercase;
      line-height: 40px;
      .section_subtitle {
        text-transform: none;
        color: $texts;
      }
    }
    &__description {

      @include sectionText(16px, $texts);
      margin-bottom: 20px;
      line-height: 20px;
      letter-spacing: 0.8px;
    }
  }
}
