.discover {
  width: 100vw;
  height: 100vh;
  background-image: url('./../img/paradise.jpg');
  background-position: 75%;
  background-size: cover;
  position: relative;
  &::before{
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    background-color: rgba(90,90,90,0.3);
    pointer-events: none;
  }
  .paradise {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__title {
      margin-top: 60px;
      @include sectionTitle(60px, $title-upper);
      text-transform: uppercase;
      line-height: 40px;
      .section_subtitle {
        text-transform: none;
        color: $texts;
      }
    }
    &__description {

      @include sectionText(16px, $texts);
      margin-bottom: 20px;
      line-height: 20px;
      letter-spacing: 0.8px;
    }
  }
}
