.header {
  width: 100vw;
  height: 100vh;
  background-image: url('./../img/house.jpg');
  background-position: 25%;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $mainFont;
  font-weight: 300;
  &__title {
    @include sectionTitle(60px, $dark);
    align-self: flex-start;
    padding-left: 9%;
    top: .3em;
    span {
      position: absolute;
      top: 100%;
      left: 50%;
    }
  }
  &__process {
    position: absolute;
    bottom: 20px;
    color: $title-upper;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
  }
}

.main {
  border: 1px solid black;
  width: 100vw;
  height: 100vh;
  margin-bottom: 0;
  max-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  .main__left {
    @include horizontalSection(enter2, right);
    left: 0;
  }
  .main__right {
    @include horizontalSection(paradiseRev, left);
    left: 100%;
  }
}
