body {
  width: 100%;
  height: 100%;
}

.header {
  @include sectionStyle('house', 25%);
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    @include sectionTitle(60px, $dark);
    align-self: flex-start;
    padding-left: 9%;
    top: .3em;
    span {
      position: absolute;
      top: 100%;
      left: 50%;
    }
  }
  &__process {
    position: absolute;
    bottom: 20px;
  }
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  @include sectionText(20px, $title-upper);
}

.arrowBtn {
  font-size: 20px;
  color: $texts;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
