body {
  height: 100%;
  overflow: hidden;
}

.header {
  width: 100vw;
  height: 100vh;
  background-image: url('./../img/house.jpg');
  background-position: 25%;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    @include sectionTitle(60px, $dark);
    align-self: flex-start;
    padding-left: 9%;
    top: .3em;
    span {
      position: absolute;
      top: 100%;
      left: 50%;
    }
  }
  &__process {
    position: absolute;
    bottom: 20px;

  }
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  @include sectionText(20px, $title-upper);
}

.main {
  border: 1px solid black;
  width: 100vw;
  height: 100vh;
  margin-bottom: 0;
  max-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  .left {
    @include horizontalSection(enter2, 70%);
    left: 0;
    filter: brightness(.8);
    -webkit-filter: brightness(.8);
    &__title {
      z-index: 999;
      @include sectionTitle(60px, $title-upper);
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      margin-top: 60%;
      margin-left: 20px;
      .section_subtitle {
        text-transform: lowercase;
        line-height: 20px;
        color: $texts;
      }
    }
    &__description {
      @include sectionText(16px, $texts)
      position: absolute;
      margin: 20px;
      bottom: 10%;
      line-height: 25px;
    }
    &__back {
      position: absolute;
      bottom: 20px;
      left: 20px;
    }
    &__next {
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
  }
  .right {
    @include horizontalSection(paradiseRev, left);
    left: 100%;
    filter: brightness(.8);
    -webkit-filter: brightness(.8);
    &__title {
      z-index: 999;
      @include sectionTitle(60px, $title-upper);
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      margin-top: 60%;
      margin-left: 20px;
      .section_subtitle {
        text-transform: lowercase;
        line-height: 20px;
        color: $texts;
      }
    }
    &__description {
      @include sectionText(16px, $texts)
      position: absolute;
      margin: 20px;
      bottom: 30px;
      line-height: 25px;
    }
    &__next {
      position: absolute;
      bottom: 20px;
      left: 20px;
    }
  }
}
