body {
  width: 100%;
  height: 100%;
}

.header {
  width: 100vw;
  height: 100vh;
  background-image: url('./../img/house.jpg');
  background-position: 25%;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    @include sectionTitle(60px, $dark);
    align-self: flex-start;
    padding-left: 9%;
    top: .3em;
    span {
      position: absolute;
      top: 100%;
      left: 50%;
    }
  }
  &__process {
    position: absolute;
    bottom: 20px;
  }
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  @include sectionText(20px, $title-upper);
}
