.header {
  width: 100vw;
  height: 100vh;
  background-image: url('./../img/house.jpg');
  background-position: 25%;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $mainFont;
  font-weight: 300;
  &__title {
    color: $dark;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: flex-start;
    padding-left: 9%;
    top: .3em;
    span {
      position: absolute;
      top: 100%;
      left: 50%;
    }
  }
  &__process {
    position: absolute;
    bottom: 20px;
    color: $title-upper;
    text-transform: uppercase;
    font-size: 20px;
  }
}
