.main {
  width: 100vw;
  height: 100vh;
  background-image: url('./../img/enter.jpg');
  background-position: 65%;
  background-size: cover;

  -webkit-filter: brightness(.8);
  filter: brightness(.8);
  position: relative;
  &::before{
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    background-color: rgba(40,40,40,0.2);
  }
  .peace {
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 20px;
    &__title {
      margin-top: 140px;
      @include sectionTitle(60px, $title-upper);
      text-transform: uppercase;
      line-height: 40px;
      .section_subtitle {
        text-transform: none;
        color: $texts;
      }
    }
    &__description {
      @include sectionText(16px, $texts);
      margin-bottom: 20px;
      line-height: 20px;
      letter-spacing: 0.8px;
    }
  }
}
