.main {
  @include sectionStyle('enter', 65%);
  display: flex;
  justify-content: center;
  &::before{
    @include sectionFiler(rgba(40,40,40,0.3));
  }
  .peace {
    // width: 100%;
    // height: 100%;
    // padding: 20px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    @include sectionContent();
    &__title {
      margin-top: 20%;
      @include sectionTitle(60px, $title-upper);
      text-transform: uppercase;
      line-height: 40px;
      .section_subtitle {
        text-transform: none;
        color: $texts;
      }
    }
    &__description {
      @include sectionText(16px, $texts);
      margin-bottom: 30px;
      line-height: 20px;
      letter-spacing: 0.8px;
    }
  }
  &__process {
    position: absolute;
    bottom: 20px;
  }
}
